*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

html::-webkit-scrollbar{
    display: none;
}

li, button{
    cursor: pointer;
}

@media screen and (max-width: 878px) {
    #heroHtmlText{
        font-size: 2.2rem;
    }

    #heroContainer{
        padding: 3rem 0rem 0rem 0rem;
    }

    #heroText{
        width: 100%;
    }

    #first{
        margin-left: 0em;
    }

    #second{
        margin-left: 0em;
    }

    #third{
        margin-left: 0em;
        font-size: 1rem;
    }

    #fourth{
        margin-left: 0em;
    }

    #fifth{
        margin-left: 0em;
        padding: 1em;
        text-align: center;
        max-width: 100%;
        font-size: 14px;
    }
}

@media screen and (max-width: 578px) {
    #third div{
        display: block;
        max-width: 100%;
        font-size: 0.8rem;
    }

    #fourth #textContact{
        width: 80vw;
    }

    #fourth #openDemat {
        width: 90vw;
    }
}